<div class="webscreen">
  <div class="grid green">
    <img class="logo" src="https://krds-assignment.github.io/aoc/api-assets/logo-aoc.png" alt="image1">
    <div class="align-content">
    <div class="content-left">
    <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-f-secure.png" alt="logo1">
    <h3>Astonishing features requires worry-free security</h3>
    <p>1 Year Free Mobile Security</p>
    </div>
    <div class="content-img">
    <img src="https://krds-assignment.github.io/aoc/api-assets/image-1.png" alt="image1">
    </div>
  </div>
  </div>
  <div class="grid orange">
    <div class="align-content">
      <div class="content-left">
    <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-digitainment.png" alt="logo2">
    <h3>Be hooked!</h3>
    <p>2000+ Movies from Bollywood</p>
    </div>
    <div class="content-img">
    <img src="https://krds-assignment.github.io/aoc/api-assets/image-2.png" alt="image2">
  </div>
  </div>
  </div>
  <div class="grid blue">
    <div class="align-content">
      <div class="content-left">
    <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-adaptxt.png" alt="logo3">
    <h3>The best things in life are free</h3>
    <p>Free Mobile Pouch</p>
    </div>
    <div class="content-img">
    <img src="https://krds-assignment.github.io/aoc/api-assets/image-3.png" alt="image3">
  </div>
  </div>
  </div>
  <div class="grid red">
    <div class="align-content">
      <div class="content-left">
    <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-hungama.png" alt="logo4">
    <h3>The thump never ends here</h3>
    <p>1000’s of songs</p>
    </div>
    <div class="content-img">
    <img src="https://krds-assignment.github.io/aoc/api-assets/image-4.png" alt="image4">
  </div>
  </div>
  </div>
  <div class="grid pink">
    <div class="align-content">
      <div class="content-left">
    <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-adaptxt.png" alt="logo5">
    <h3>Being globally you</h3>
    <p>21 Indian & Foreign Languages</p>
    </div>
    <div class="content-img">
    <img src="https://krds-assignment.github.io/aoc/api-assets/image-5.png" alt="image5">
    </div>
    </div>
  </div>
  <div class="grid skyblue">
    <div class="align-content">
      <div class="content-left">
    <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-read-where.png" alt="logo6">
    <h3>For the wise</h3>
    <p>1000 pts Discount on Subscription</p>
    </div>
    <div class="content-img">
    <img src="https://krds-assignment.github.io/aoc/api-assets/image-6.png" alt="image6">
  </div>
  </div>
  </div>
</div>
<div class="mobile-logo">
  <img class="logo" src="https://krds-assignment.github.io/aoc/api-assets/logo-aoc.png" alt="image1">
</div>
  <owl-carousel-o [options]="customOptions" class="hide">
    <ng-template carouselSlide>
      <div class="grid green">
        <div class="align-content">
        <div class="content-left">
        <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-f-secure.png" alt="logo1">
        <h3>Astonishing features requires worry-free security</h3>
        <p>1 Year Free Mobile Security</p>
        </div>
        <div class="content-img">
        <img src="https://krds-assignment.github.io/aoc/api-assets/image-1.png" alt="image1">
        </div>
      </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="grid orange">
        <div class="align-content">
          <div class="content-left">
        <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-digitainment.png" alt="logo2">
        <h3>Be hooked!</h3>
        <p>2000+ Movies from Bollywood</p>
        </div>
        <div class="content-img">
        <img src="https://krds-assignment.github.io/aoc/api-assets/image-2.png" alt="image2">
      </div>
      </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="grid blue">
        <div class="align-content">
          <div class="content-left">
        <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-adaptxt.png" alt="logo3">
        <h3>The best things in life are free</h3>
        <p>Free Mobile Pouch</p>
        </div>
        <div class="content-img">
        <img src="https://krds-assignment.github.io/aoc/api-assets/image-3.png" alt="image3">
      </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="grid red">
        <div class="align-content">
          <div class="content-left">
        <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-hungama.png" alt="logo4">
        <h3>The thump never ends here</h3>
        <p>1000’s of songs</p>
        </div>
        <div class="content-img">
        <img src="https://krds-assignment.github.io/aoc/api-assets/image-4.png" alt="image4">
      </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide><div class="grid pink">
      <div class="align-content">
        <div class="content-left">
      <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-adaptxt.png" alt="logo5">
      <h3>Being globally you</h3>
      <p>21 Indian & Foreign Languages</p>
      </div>
      <div class="content-img">
      <img src="https://krds-assignment.github.io/aoc/api-assets/image-5.png" alt="image5">
      </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="grid skyblue">
      <div class="align-content">
        <div class="content-left">
      <img class="size" src="https://krds-assignment.github.io/aoc/api-assets/logo-read-where.png" alt="logo6">
      <h3>For the wise</h3>
      <p>1000 pts Discount on Subscription</p>
      </div>
      <div class="content-img">
      <img src="https://krds-assignment.github.io/aoc/api-assets/image-6.png" alt="image6">
    </div>
    </div>
    </div>
</ng-template>  
  </owl-carousel-o>
<router-outlet></router-outlet>
